mysql:
  match: 'djangocon-singlehost'
  sls:
    - foo.db

app:
  match: 'djangocon-singlehost'
  require:
    - mysql
  sls:
    - foo.vhost
    - foo.app

load_db:
  match: 'djangocon-singlehost'
  require:
    - app
  sls:
    - foo.loaddata
