# MySQL connection infos
connection_user: root
connection_pass: ''

{% set foo_venv = '/var/www/foo' %}
{% set foo_proj = '{0}/django-tutorial'.format(foo_venv) %}
{% set foo_tmpl = '{0}/templates'.format(foo_proj) %}
{% set foo_static = '{0}/static'.format(foo_proj) %}

# Django settings infos
foo:
  venv: {{ foo_venv }}
  proj: {{ foo_proj }}
  settings: foo.settings
  ROOT_URLCONF: foo.urls
  SECRET_KEY: 'gith!)on!_dq0=2l(otd67%#0urmrk6_d0!zu)i9fn=!8_g5(c'
  DATABASES:
    default:
      ENGINE: django.db.backends.mysql
      NAME: foodb
      USER: foouser
      PASSWORD: foopass
      HOST: localhost
      PORT: 3306
  TEMPLATE_DIRS:
    - {{ foo_tmpl }}
  STATICFILES_DIRS:
    - {{ foo_static }}
  STATIC_ROOT: {{ foo_proj }}/staticroot
